spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/library}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secretkey: ${JWT_SECRET:change_this_secret}
  expiration: ${JWT_EXPIRATION:3600000}
